body{
margin: 0;
padding: 0;
}

.container{
display: flex;
}

.leftSide{
    width: 40%;
    border: 1px black solid;
    background-color: rgba(77, 27, 77, 0.815);
    min-height: 100vh;
}

.rightSide{
    width: 60%;
    border: 1px black solid;
    min-height: 100vh;
}

.leftSide .foto img{
    width: 30%;
    height: auto;
    aspect-ratio: auto;
}

.leftSide .foto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.name{
    font-size: 24px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: white;
    display: flex;
    justify-content: center;
}

.contact{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 0 50px;
}

.contact .phone,
 .contact .email,
  .contact .address{
    display: flex;
    justify-content: space-between;
}

.contact .phone .fotoIcon img,
 .contact .email .emailIcon img,
  .contact .address .addressIcon img{
    width: 20px;
    height: auto;
    aspect-ratio: auto;
}

.contact .phoneNumber,
.contact .emailAdress,
.contact .addressNumber{
    font-size: 16px;
    color: white;
}

.contact .phone .fotoIcon,
 .contact .email .emailIcon,
  .contact .address .addressIcon{
    width: 30%;
    display: flex;
    justify-content: flex-end;
  }